@charset "UTF-8";
/* © Cinebri => https://github.com/cinebri */
body {
  font-family: "Lato", "Montserrat", sans-serif;
}

.wrapper {
  width: 80%;
  margin: 0 auto;
}

section {
  padding: 70px 0;
}

.arrow-link {
  position: relative;
  color: #006dfe;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  text-decoration: none;
  text-transform: uppercase;
}
.arrow-link:hover {
  text-decoration: underline;
}
.arrow-link:after {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -59px;
  width: 33px;
  height: 8px;
  background: center/cover url(./img/arrow.svg) no-repeat;
}

.btn {
  background: #1b7dff;
  color: #fff;
  border: none;
  outline: none;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-transform: uppercase;
  transition: background-color 0.1s linear;
}
.btn:hover {
  cursor: pointer;
  background: #1563c9;
  transition: background-color 0.1s linear;
}

.heading.underline {
  color: #102746;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  position: relative;
}
.heading.underline:after {
  content: "";
  position: absolute;
  bottom: -7px;
  left: 0;
  width: 253px;
  height: 3px;
  background: #006dfe;
}

.header {
  height: 100vh;
  background: center/cover fixed border-box no-repeat url("./img/bg.png") #000;
  color: #fff;
  position: relative;
  padding-bottom: 223px;
}
@media only screen and (max-width: 980px) {
  .header {
    padding-bottom: 60%;
  }
}
@media only screen and (max-width: 690px) {
  .header {
    padding-bottom: 90%;
  }
}
.header-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, rgba(53, 66, 103, 0) 0%, #151824 95.04%);
}
.header .nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .nav .menu__list {
  display: flex;
  justify-content: space-between;
}
.header .nav .menu__link {
  color: #fff;
  text-decoration: none;
  display: inline-block;
  padding: 62px 41px;
  font-size: 18px;
}
.header .nav .menu__link:hover {
  color: #bdc32a;
}
.header .content__description {
  width: 620px;
}
.header .content__description .h1 {
  font-size: 50px;
  font-weight: 500;
  line-height: normal;
  margin: 116px 0 20px 0;
}
.header .content__description .description {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.header .content__form {
  margin-top: 55px;
  display: flex;
  width: 865px;
  justify-content: space-between;
  align-items: flex-end;
}
@media only screen and (max-width: 980px) {
  .header .content__form {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 30px;
  }
}
.header .content__form .input {
  width: 247px;
  padding: 22px 10px 22px 43px;
  background: none;
  outline: none;
  border: none;
  border-bottom: 1px solid white;
  color: #fff;
  font-size: 1.2em;
}
.header .content__form .input::-moz-placeholder {
  color: #fff;
  font-size: 13px;
}
.header .content__form .input::placeholder {
  color: #fff;
  font-size: 13px;
}
.header .content__form .input-item {
  position: relative;
}
.header .content__form .input-item:before {
  content: "";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  border-radius: 50%;
  z-index: 1000;
}
.header .content__form .button {
  width: 171px;
  height: 58px;
}

.section-benefits {
  width: 70%;
  z-index: 10;
  position: relative;
  background: #fff;
  margin: 0 auto;
  margin-top: -223px;
  box-shadow: 0px 2px 20px 0px rgba(21, 24, 36, 0.16);
}
.section-benefits .heading {
  color: #102746;
  font-size: 35px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.section-benefits .benefits-list {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-top: 110px;
}
.section-benefits .benefits-list__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: calc(33.3333333333% - 55px);
}
.section-benefits .benefits-list__item div {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}
.section-benefits .benefits__icon {
  width: 66px;
  height: 66px;
  margin-bottom: 38px;
}
.section-benefits .benefits__title {
  color: #000;
  font-size: 16px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  margin-bottom: 27px;
}
.section-benefits .benefits__support {
  margin-bottom: 40px;
  height: 72px;
}
@media only screen and (max-width: 900px) {
  .section-benefits .benefits__support {
    height: auto;
  }
}
@media only screen and (max-width: 910px) {
  .section-benefits .benefits__link.arrow-link:after {
    right: -33px;
  }
}
@media only screen and (max-width: 831px) {
  .section-benefits .benefits__link.arrow-link:after {
    right: 0;
  }
}
@media only screen and (max-width: 750px) {
  .section-benefits .benefits__link.arrow-link:after {
    bottom: -20px;
    left: 25%;
    transform: translateX(-50%);
    right: auto;
    top: auto;
  }
}

.section-get-inspired .heading__link {
  margin-right: 59px;
}
@media only screen and (max-width: 740px) {
  .section-get-inspired .heading__link:after {
    right: -26px;
  }
}
@media only screen and (max-width: 560px) {
  .section-get-inspired .heading__link:after {
    display: none;
  }
}
.section-get-inspired .heading-cont {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 50px;
}
.section-get-inspired .images-list {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(2, 50%);
  gap: 10px;
  width: 100%;
  height: 708px;
}
.section-get-inspired .images-list__item-cont {
  text-decoration: none;
}
.section-get-inspired .images-list__item-cont:hover .images-list__item::after {
  background: none;
}
.section-get-inspired .images-list__item-cont:hover .images-list__name {
  text-shadow: 0px 0px 5px #444;
  transform: scale(1.1);
  transition: transform 0.1s ease;
}
.section-get-inspired .images-list__item {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  position: relative;
}
.section-get-inspired .images-list__item:after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
}
.section-get-inspired .images-list__img {
  width: 100%;
  height: 100%;
}
.section-get-inspired .images-list__name {
  color: #fff;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  position: absolute;
  bottom: 27px;
  left: 29px;
  z-index: 1;
  transition: transform 0.1s ease;
}
@media only screen and (max-width: 870px) {
  .section-get-inspired .images-list__name {
    font-size: 30px;
  }
}
.section-get-inspired .images-list .fuji {
  background: center/cover url("./img/Image.png") no-repeat;
}
.section-get-inspired .images-list .kyoto {
  background: center/cover url("./img/Image-1.png") no-repeat;
}
.section-get-inspired .images-list .tokyo {
  background: center/cover url("./img/Image-2.png") no-repeat;
}
.section-get-inspired .images-list .niigata {
  background: center/cover url("./img/Image-3.png") no-repeat;
}
.section-get-inspired .images-list .sapporo {
  background: center/cover url("./img/Image-4.png") no-repeat;
}
.section-get-inspired .item-cont1 {
  grid-column: span 3;
  grid-row: 1/2;
}
.section-get-inspired .item-cont2 {
  grid-column: span 3;
  grid-row: 1/2;
}
.section-get-inspired .item-cont3, .section-get-inspired .item-cont4, .section-get-inspired .item-cont5 {
  grid-column: span 2;
  grid-row: 2/-1;
}

.section-pref-neigh .pref-neigh-content {
  display: flex;
  flex-direction: column;
  row-gap: 55px;
}
.section-pref-neigh .pref-neigh-container {
  display: flex;
  justify-content: space-between;
}
.section-pref-neigh .pref-neigh-container:nth-child(2n) {
  flex-direction: row-reverse;
}
.section-pref-neigh .pref-neigh__img-cont {
  width: calc(50% - 50px);
}
.section-pref-neigh .pref-neigh__img {
  width: 100%;
}
.section-pref-neigh .pref-neigh-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  row-gap: 10%;
  width: calc(50% - 50px);
}
.section-pref-neigh .pref-neigh-text .heading {
  color: #102746;
  font-size: 30px;
  font-style: normal;
  font-weight: 500;
  line-height: 40px;
  margin-bottom: 5%;
}
.section-pref-neigh .pref-neigh-text .text {
  color: #102746;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.section-places .heading {
  margin-bottom: 50px;
}
.section-places .places-content {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}
.section-places .img {
  width: 100%;
}
.section-places .img-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.section-places .img__item {
  width: calc(33.3333333333% - 25px);
  display: flex;
  flex-direction: column;
  row-gap: 30px;
  align-items: flex-start;
}
.section-places .img-cont {
  position: relative;
  width: 100%;
  margin-bottom: 15px;
}
.section-places .img-commentaries {
  position: absolute;
  bottom: 0;
  width: calc(100% - 50px);
  padding: 16px 25px;
  background: rgba(21, 24, 36, 0.6);
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media only screen and (max-width: 980px) {
  .section-places .img-commentaries > * {
    font-size: 0.7em;
  }
}
.section-places .img-commentaries .cont-likes-comments {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -moz-column-gap: 35px;
       column-gap: 35px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
@media only screen and (max-width: 980px) {
  .section-places .img-commentaries .cont-likes-comments > * {
    font-size: 0.6em;
  }
}
.section-places .img-commentaries .likes {
  position: relative;
}
.section-places .img-commentaries .likes-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  top: 59%;
  right: -20px;
}
.section-places .img-commentaries .comments {
  position: relative;
  margin-right: 25px;
}
.section-places .img-commentaries .comments-logo {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  top: 59%;
  right: -20px;
}
.section-places .img__text {
  width: 100%;
  color: #102746;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.section-places .img__button {
  text-align: center;
  padding: 12px 19px;
  text-decoration: none;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.section-places .img__button:hover {
  text-decoration: underline;
}

.section-video {
  padding: 0;
}
.section-video .video {
  position: relative;
}
.section-video .video__player {
  width: 100%;
}
.section-video .video__overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(21, 24, 36, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}
.section-video .video__overlay:hover {
  cursor: pointer;
}

.footer {
  background: #0e1d28;
  padding: 120px 0;
}
.footer .wrapper {
  display: flex;
  justify-content: space-between;
}
.footer .wrapper > * {
  width: 50%;
}
@media only screen and (max-width: 1080px) {
  .footer .wrapper {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  .footer .wrapper > * {
    width: 100%;
  }
}
.footer .logo {
  display: flex;
  align-content: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 1080px) {
  .footer .logo {
    justify-content: center;
    text-align: center;
    margin-bottom: 50px;
  }
}
.footer .information {
  display: flex;
  justify-content: space-between;
}
.footer .information__list {
  list-style: none;
}
.footer .information__item {
  margin-bottom: 5px;
}
.footer .information__item:first-child {
  font-size: 18px;
  font-weight: 500;
}
.footer .information__item, .footer .information__link {
  font-family: Lato;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .information__link {
  text-decoration: none;
}/*# sourceMappingURL=style.css.map */